<link rel="stylesheet" type="text/css" href="style.css">
</head>
<div id="searchbox">
<h1>IMAGE META CHECKER <span style='color:grey;'>(beta)</span></h1>
<div id="formholder">
Paste the URL of the Google spreadsheet that you would like to check:<br>
<div>&nbsp;</div>

<form name="input" action="/form" method="post">   
<textarea rows="05" cols="50" name="URL1"></textarea><br>
<input type="submit">
</form>
<p><b>Important note:</b> for now, this version of Meta Checker can only reliably check meta data for images. If you would like to check page titles and descriptions then please use <a href="http://www.previewchanges.com/~dacosta/Metachecker/" target="_blank">this version of Meta Checker</a>.</p>
</div>
</div>