<link rel="stylesheet" type="text/css" href="style.css">
</head>
<div id="searchbox">
<h1>META CHECKER <span style='color:grey;'>(beta)</span></h1>
<div id="formholder">
Please enter the content that you would like to check:<br>
<div>&nbsp;</div>

<form name="input" action="/form" method="post">   
<textarea rows="20" cols="50" name="URL1"></textarea><br>
<input type="submit">
</form>
</div>
</div>