<div id="searchbox">
  <h1>META CHECKER</h1>
  <div id="formholder">
    <a href="docs/instructions" target="_blank">Instructions</a> | <a href="docs/word" target="_blank">Formatting</a><br>
    <div>&nbsp;</div>
    <form name="input" action="/form" method="post">   
    <textarea rows="15" cols="50" name="URL1"></textarea><br>
    <div>&nbsp;</div>
    <input type="submit">
    </form>
  </div>
</div>