<div id="searchbox">
  <h1>META CHECKER <span style='color:grey;'>(beta)</span></h1>
  <div id="formholder">
    <a href="/instructions" target="_blank">Click here for instructions.</a><br>
    <div>&nbsp;</div>
    <form name="input" action="/form" method="post">   
    <textarea rows="05" cols="50" name="URL1"></textarea><br>
    <input type="submit">
    </form>
    <p style="font-size:12px;"><b>Important:</b> This version of Meta Checker can reliably check meta tags for images. Checking meta content for pages (H1s, page titles, and page descriptions) based on the raw content provided in a gdoc may result in an error. If you do receive an error while attempting to check raw content, please use <b><a href="http://www.previewchanges.com/~dacosta/Metachecker/" target="_blank">this version of Meta Checker</a></b>.</p>
  </div>
</div>