<h1>How to Use Meta Checker</h1>
<h2>1. Checking Meta Tags for Images</h2>
<img src="/images/spreadsheet_1.png" style="border:1 solid black;"><br>
<img src="/images/spreadsheet_2.png" style="border:1 solid black;"><br>
<h2>2. Checking Page Titles & Descriptions</h2>
<img src="/images/raw_content_1.png" style="border:1 solid black;"><br>
<img src="/images/raw_content_2.png" style="border:1 solid black;"><br>
