<h1>How to Use Meta Checker</h1>
<h2>How to check meta tags for images:</h2>
<img src="/images/spreadsheet_1.png" style="border:1 solid black;"><br>
<img src="/images/spreadsheet_2.png" style="border:1 solid black;"><br>
<h2>How to check page titles and descriptions:</h2>
<img src="/images/raw_content_1.png" style="border:1 solid black;"><br>
<img src="/images/raw_content_2.png" style="border:1 solid black;"><br>
