<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script>var requested_meta = <%= @requested_meta_json %>;
    </script>
    <script src="js/strtr.js"></script>
    <script src="js/b64_url_encode.js"></script>
  </head>
  <body>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>